.dropdown-item:hover{
    background-color: #292929;
    color:white;
}
#aperfilusuario{
    color:black;
}
#aperfilusuario2{
    width:90%;
}
#buttonsair{
    margin: 0 auto;
    width:90%;
    margin-top:-30px;
}
#buttonperfil{
    margin: 0 auto;
    width:90%;
    margin-top:-12px;
}